<div class="home__title">
  <p>Welcome to LiteraSelf Book recomendation app</p>
</div>
<section class="hero-section" style="background-image: url('https://blog.ingate.ru/upload/iblock/46a/8_knig_dlya_karernogo_rosta.jpg');">
  <h1>Читай, говори, вдохновляй</h1>
  <h2>На LiteraSelf каждая книга становится началом диалога, а каждый отзыв — частью большой беседы. Каждая книга способствуют глубокому личностному выражению. Наша цель — создать сообщество, где каждый найдет отголоски своего внутреннего мира в страницах книг и сможет поделиться своими размышлениями с другими.</h2>
  <ul>
    <li>
      <a [routerLink]="['/about']">About</a>
    </li>
    <li>
      <a [routerLink]="['/books']">Books</a>
    </li>
    <li>
      <a [routerLink]="['/favoriteBooks']">My favorite books</a>
    </li>
    <li>
      <a [routerLink]="['/recomendation']">Recomend</a>
    </li>
  </ul>

</section>
